<%= link_to recipe_path(recipe), class: 'link' do %>
    <div class="public-recipe">
        <div>
            <h1>
                <%= recipe.name %>
            </h1>
            <p>
                By <%= recipe.user.name %>
            </p>
        </div>
        <div>
            <p>Total Food Items: <%= recipe.public_recipes.length %></p>
            <p>Total price: <%= number_to_currency(recipe.public_recipes.sum { |food| food.quantity * food.food.price }) %></p>
        </div>
    </div>
<% end %>

