<%= link_to recipe_path(recipe), class: 'link' do %>
    <div class="public-recipe">
        <h1>
            <%= recipe.name %>
        </h1>
        <p>
            <% user = User.find(recipe.user_id) %>
            By <%= user.name %>
        </p>
        <p>
            Total Food Items: <%= recipe.foods.count %>
            Preperation Time: <%= recipe.preparation_time %>
        </p>
    </div>
<% end %>

