<div class="buttons">
    <%= button_to 'Back to Foods', foods_path, method: :get, class: 'btn' %>
    <%= button_to 'Back to Recipes', recipes_path , method: :get, class: 'btn' %>
    <%= button_to 'Show Public Recipes', public_recipes_path , method: :get, class: 'btn' %>
    <%= button_to 'Log Out', destroy_user_session_path, method: :delete, class: 'btn' %>
</div>

<div class="general-container">
    <h2>Shopping List</h2>

    <div class="general-details">
        <h5>Amount of food items to buy: <%=  food_recipes.size %></h5>
        <h5>Total value of food needed: <%= number_to_currency(total_price) %></h5>
    </div>
</div>
<div class="recipe_table">
    <table class="food-table">
        <tr class="head-row">
            <th>Food</th>
            <th>Quantity</th>
            <th>Value</th>
        </tr>
        <% food_recipes.includes(:food).each do |public_recipe| %>
            <tr class="body-row">
                <td class="item"><%= public_recipe.food.name %></td>
                <td class="item"><%= public_recipe.quantity %> <%= public_recipe.food.measurement %></td>
                <td class="item"><%= number_to_currency(public_recipe.food.price * public_recipe.quantity) %></td>
            </tr>
        <% end %>
    </table>
</div>