<%= button_to 'Back to Recipes', recipes_path, method: :get, class: 'special-btn' %>
<h1 style="text-align: center;">Create New Recipe</h1>
<div class="food-form">
  <div class="my-form">
    <%= form_with model: @recipe do |form| %>
      <% @recipe.errors.full_messages.each do |error| %>
        <div><%= error %></div>
      <% end %>
      <div class="field">
        <%= form.label :name%>
        <%= form.text_field :name%>
      </div>

      <div class="field">
        <%= form.label :preparation_time%>
        <%= form.number_field :preparation_time%>
      </div>

      <div class="field">
        <%= form.label :cooking_time%>
        <%= form.number_field :cooking_time%>
      </div>

      <div class="text-field">
        <%= form.label :description%>
        <%= form.text_area :description%>
      </div>

      <div class="checkbox">
        <%= form.label :public%>
        <%= form.check_box :public%>
      </div>

      <div class="food-btn">
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</div>